@charset "UTF-8";
.inBase__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media print, screen and (min-width: 768px) {
  .inBase__inner {
    width: 90%;
  }
}
.inBase__inner::after {
  content: " ";
  display: block;
  clear: both;
}

@media print, screen and (min-width: 768px) {
  #contents {
    margin-top: -4em;
    padding-top: 4em;
  }
}

#content {
  padding-top: 7em;
}
@media print, screen and (min-width: 768px) {
  #content {
    margin-top: -4em;
    padding-top: 4em;
    padding-top: 8em;
  }
}

@media print, screen and (min-width: 768px) {
  .linkAdjustment {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox01 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox02 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox03 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox04 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox05 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox06 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox07 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox08 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox09 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox10 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox11 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox12 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox13 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox14 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

@media print, screen and (min-width: 768px) {
  #pageBox15 {
    margin-top: -4em;
    padding-top: 4em;
  }
}

.modal {
  z-index: 999;
}

.header {
  z-index: 20;
}

.tooltip {
  z-index: 10;
}

.default {
  z-index: 1;
}

.link--typeFadeTop a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.link--typeFadeTop a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #32342D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  bottom: 2px;
}
.link--typeFadeTop a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}
.link--typeFadeBottom a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.link--typeFadeBottom a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #32342D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  bottom: -8px;
}
.link--typeFadeBottom a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}
.link--typeLeftToRight a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.link--typeLeftToRight a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #32342D;
  bottom: -4px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.link--typeLeftToRight a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.link--typeRightToLeft a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.link--typeRightToLeft a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #32342D;
  bottom: -4px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.link--typeRightToLeft a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.link--typeLeftInRight a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.link--typeLeftInRight a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #32342D;
  bottom: -4px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.link--typeLeftInRight a:hover::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.link--typeRightInLeft a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.link--typeRightInLeft a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #32342D;
  bottom: -4px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.link--typeRightInLeft a:hover::after {
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.link--typeCenter a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.link--typeCenter a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #32342D;
  bottom: -4px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.link--typeCenter a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.pagefixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

@media print, screen and (min-width: 768px) {
  #pageTopFix.is-scroll {
    opacity: 1;
    background: rgb(255, 255, 255);
    z-index: 2;
    overflow: hidden;
  }
}

#btnTelEmpty {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media print, screen and (min-width: 768px) {
  #btnTelEmpty {
    display: none;
  }
}
#btnTelEmpty:before {
  content: "";
  display: block;
  padding-top: 19%;
}

.parallaxBox {
  min-height: 17em;
  display: block;
  padding: 3.6rem 0 0;
  position: relative;
}

.copyright {
  display: block;
  text-align: center;
  padding: 2em 0;
  font-size: 0.8em;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border-top: #FFF solid 1px;
  color: #FFF;
}

#wrapper #btnRise {
  display: block;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: fixed;
  bottom: 7em;
  right: 1em;
  opacity: 0;
  z-index: 10;
}
@media print, screen and (min-width: 768px) {
  #wrapper #btnRise {
    bottom: 1em;
  }
}
#wrapper #btnRise.is-active {
  opacity: 1;
}
#wrapper #btnRise a {
  display: block;
  width: 3em;
  height: 3em;
  background: #FFF;
  border-radius: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
@media print, screen and (min-width: 768px) {
  #wrapper #btnRise a {
    width: 4em;
    height: 4em;
  }
}
#wrapper #btnRise a img {
  width: 100%;
}
#wrapper #btnRise a:hover {
  background: #D8F19B;
}

#wrapper .sideBannerBox {
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media print, screen and (min-width: 768px) {
  #wrapper .sideBannerBox {
    display: inline-block;
    position: fixed;
    z-index: 999;
    z-index: 3;
    top: 0;
    right: 0;
  }
}
@media print, screen and (min-width: 768px) {
  #wrapper .sideBannerBox.is-active {
    top: 4em;
  }
}
#wrapper .sideBannerBox__banner {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  display: block;
  width: 3em;
}
#wrapper .sideBannerBox__banner a {
  font-size: 0.9em;
  width: 3.5em;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1em;
  position: relative;
  padding: 1em 0.9em;
  opacity: 1;
  line-height: 1.7;
}
#wrapper .sideBannerBox__banner a:hover {
  color: #719519;
  opacity: 1;
}
#wrapper .sideBannerBox__banner a:hover::before {
  width: 0;
}
#wrapper .sideBannerBox__banner a:hover::after {
  right: 0;
}
#wrapper .sideBannerBox__banner:nth-child(1) a {
  background: #7BAD00;
  color: #FFF;
}
#wrapper .sideBannerBox__banner:nth-child(1) a:hover {
  background: #209131;
}
#wrapper .sideBannerBox__banner:nth-child(2) a {
  background: #96D300;
  color: #FFF;
}
#wrapper .sideBannerBox__banner:nth-child(2) a:hover {
  background: #209131;
}
#wrapper .sideBannerBox__banner:nth-child(3) a {
  background: #C7EF65;
  color: #719519;
}
#wrapper .sideBannerBox__banner:nth-child(3) a:hover {
  background: #209131;
  color: #FFF;
}
#wrapper .sideBannerBox__banner:nth-child(4) a {
  background: #EAF8C9;
  color: #719519;
}
#wrapper .sideBannerBox__banner:nth-child(4) a:hover {
  background: #209131;
  color: #FFF;
}

.luminous, .luminousGallery {
  position: relative;
  display: block;
}
.luminous:after, .luminousGallery:after {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  font-family: "icomoon";
  content: "\f00e";
  font-size: 1.5rem;
  color: #FFF;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 縦方向中央揃え（Safari用） */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 縦方向中央揃え */ /* 横方向中央揃え（Safari用） */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 横方向中央揃え */
  text-align: center;
}
@media print, screen and (min-width: 768px) {
  .luminous:after, .luminousGallery:after {
    font-size: 3rem;
  }
}
.luminous:hover:after, .luminousGallery:hover:after {
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}

.movieButton {
  position: relative;
  display: block;
  cursor: pointer;
}
.movieButton:after {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  font-family: "icomoon";
  content: "\f16a";
  font-size: 1.5rem;
  color: #FFF;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 縦方向中央揃え（Safari用） */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 縦方向中央揃え */ /* 横方向中央揃え（Safari用） */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 横方向中央揃え */
  text-align: center;
}
@media print, screen and (min-width: 768px) {
  .movieButton:after {
    font-size: 3rem;
  }
}
.movieButton:hover:after {
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}

.inlineModalButton {
  position: relative;
  display: block;
  cursor: pointer;
}
.inlineModalButton:after {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  font-family: "icomoon";
  content: "\f0c1";
  font-size: 1.5rem;
  color: #FFF;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 縦方向中央揃え（Safari用） */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 縦方向中央揃え */ /* 横方向中央揃え（Safari用） */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 横方向中央揃え */
  text-align: center;
}
@media print, screen and (min-width: 768px) {
  .inlineModalButton:after {
    font-size: 3rem;
  }
}
.inlineModalButton:hover:after {
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}

.modal-inlineContent .inline__display::-webkit-scrollbar {
  width: 10px;
}

.modal-inlineContent .inline__display::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

.modal-inlineContent .inline__display::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}

.modal-inlineContent .inline__display {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.3);
}

.adjustBox {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.adjustBox:before {
  content: "";
  display: block;
  padding-top: 100%; /* 1:1 */
}
.adjustBox.adjustBox--type01:before {
  padding-top: 175%; /* 4:7 */
}
.adjustBox.adjustBox--type02:before {
  padding-top: 150%; /* 2:3 */
}
.adjustBox.adjustBox--type03:before {
  padding-top: 125%; /* 3:4 */
}
.adjustBox.adjustBox--type04:before {
  padding-top: 75%; /* 4:3 */
}
.adjustBox.adjustBox--type05:before {
  padding-top: 50%; /* 2:1 */
}
.adjustBox.adjustBox--type06:before {
  padding-top: 25%; /* 4:1 */
}
.adjustBox.adjustBox--typeGR:before {
  padding-top: 61.74%; /* 1.618:1 */
}
.adjustBox.adjustBox--typeGR-h:before {
  padding-top: 161.8%; /* 1:1.618 */
}
.adjustBox__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.adjustBox__inner img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.adjustBox__inner img.h100 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: none;
  transform: none;
}
.adjustBox p {
  font-size: 1.25vw;
  line-height: 1.5em;
}

.googleMapBox {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
@media print, screen and (min-width: 768px) {
  .googleMapBox {
    padding-bottom: 50%;
  }
}
.googleMapBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.youtubeBox {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  display: block;
}
.youtubeBox iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.modal-movie .modal__container {
  width: 95%;
  padding: 0.5em;
}
@media print, screen and (min-width: 768px) {
  .modal-movie .modal__container {
    padding: 1em;
  }
}
@media print, screen and (min-width: 1280px) {
  .modal-movie .modal__container {
    max-width: 854px;
  }
}

#btnPageBottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: block;
}
@media print, screen and (min-width: 768px) {
  #btnPageBottom {
    display: none;
    _display: none;
  }
}
#btnPageBottom.is-active {
  z-index: 989;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 0.3em 0.1em rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0.3em 0.1em rgba(0, 0, 0, 0.2);
}

@media print, screen and (min-width: 768px) {
  .btnPageBottom--btn {
    display: none;
  }
}
.btnPageBottom__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btnPageBottom__inner > div {
  width: 25%;
  display: block;
  background: #FFF;
  text-align: center;
  padding: 0.5em 0;
}
.btnPageBottom__inner > div span {
  display: block;
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.btnPageBottom__inner > div img {
  width: 3em;
  height: auto;
}

.modal#modal-btnPageBottom01, .modal#modal-btnPageBottom02, .modal#modal-btnPageBottom03, .modal#modal-btnPageBottom04 {
  z-index: 889;
}
.modal#modal-btnPageBottom01 .modal__overlay, .modal#modal-btnPageBottom02 .modal__overlay, .modal#modal-btnPageBottom03 .modal__overlay, .modal#modal-btnPageBottom04 .modal__overlay {
  margin-top: 7em;
}
.modal#modal-btnPageBottom01 .modal__container, .modal#modal-btnPageBottom02 .modal__container, .modal#modal-btnPageBottom03 .modal__container, .modal#modal-btnPageBottom04 .modal__container {
  margin-top: 6em;
}

#modal-btnPageBottom01 .globalNaviSmall__icon, #modal-btnPageBottom02 .globalNaviSmall__icon, #modal-btnPageBottom03 .globalNaviSmall__icon, #modal-btnPageBottom04 .globalNaviSmall__icon {
  top: -7em;
}
#modal-btnPageBottom01 .modal__overlay, #modal-btnPageBottom02 .modal__overlay, #modal-btnPageBottom03 .modal__overlay, #modal-btnPageBottom04 .modal__overlay {
  background: none;
}
#modal-btnPageBottom01 .modal__container, #modal-btnPageBottom02 .modal__container, #modal-btnPageBottom03 .modal__container, #modal-btnPageBottom04 .modal__container {
  background: rgb(255, 255, 255);
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  padding: 0;
  min-height: 100vh;
}
#modal-btnPageBottom01 .globalNaviSmall__menu__main, #modal-btnPageBottom02 .globalNaviSmall__menu__main, #modal-btnPageBottom03 .globalNaviSmall__menu__main, #modal-btnPageBottom04 .globalNaviSmall__menu__main {
  margin-bottom: 12em;
}

#wrapper .fadeParts {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#wrapper .fadeParts.active {
  opacity: 1;
}

#wrapper .sectionTitle--type01 {
  display: block;
  text-align: center;
  font-size: 1.1em;
  color: #719519;
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1.5em;
}
@media print, screen and (min-width: 768px) {
  #wrapper .sectionTitle--type01 {
    font-size: 1.25em;
  }
}
#wrapper .sectionTitle--type01 strong {
  display: block;
  font-size: 2em;
  color: #94C618;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
@media print, screen and (min-width: 768px) {
  #wrapper .sectionTitle--type01 strong {
    font-size: 3em;
  }
}

#wrapper .lead--type01 {
  font-size: 1.3em;
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  display: block;
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}
@media print, screen and (min-width: 768px) {
  #wrapper .lead--type01 {
    font-size: 2.5em;
  }
}

#wrapper .btn--type01 {
  text-align: center;
}
#wrapper .btn--type01 a {
  display: inline-block;
  -webkit-box-shadow: 0 0.3em 1em -0.8em rgb(0, 0, 0);
          box-shadow: 0 0.3em 1em -0.8em rgb(0, 0, 0);
}
#wrapper .btn--type01 a span {
  display: block;
  background: #94C618;
  -webkit-clip-path: polygon(1em 0, 100% 0, 100% 100%, 0 100%, 0 1em);
          clip-path: polygon(1em 0, 100% 0, 100% 100%, 0 100%, 0 1em);
  color: #FFF;
  text-align: center;
  font-size: 1em;
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: relative;
  padding: 0.6em 3em 0.6em;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
@media print, screen and (min-width: 768px) {
  #wrapper .btn--type01 a span {
    font-size: 0.9em;
  }
}
#wrapper .btn--type01 a span::before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  background: url(../img/common/iconButton01.svg) no-repeat center top;
  background-size: 100% auto;
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -0.5em;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
@media print, screen and (min-width: 768px) {
  #wrapper .btn--type01 a span::before {
    right: 1em;
  }
}
#wrapper .btn--type01 a:hover {
  -webkit-box-shadow: -0.5em 0px 1em -0.5em rgba(0, 0, 0, 0);
          box-shadow: -0.5em 0px 1em -0.5em rgba(0, 0, 0, 0);
}
#wrapper .btn--type01 a:hover span {
  background: #209131;
}
#wrapper .btn--type01 a:hover span::before {
  right: 0.8em;
}
#wrapper .btn--type01 a small {
  display: block;
  font-size: 0.7em;
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/*# sourceMappingURL=../maps/common/コピー ～ _parts.css.map */
