@use "../_setting" as s;


.postid-20451 #wrapper,
.postid-21432 #wrapper,
.admin-template-admin-reason #wrapper,
#wpwrap{
	.pageTitleBox{
		border-bottom:none;
		text-align:center;
		margin-bottom:1.5em;
		padding-bottom: 0;
		@include s.media(m){
			position:absolute;
			z-index:-1;
			opacity:0;
		}
		.pageTitle__image{
			display:none;
		}
	}
	.topicpathBox,#breadcrumb{
		position:absolute;
		z-index:-1;
		opacity:0;
	}
	#content{
		@include s.media(m){
			padding-top: 7em;
		}
	}
	.mainVisual{
		display:block;
		position:relative;
		font-size:1em;
		margin-bottom:1.5em;
		@include s.media(m){
			margin-bottom:5em;
		}
		&__bg{
			width:112%;
			margin-left:-6%;
			@include s.media(m){
				width:156%;
				margin-left:-28%;
			}
			img{
				width:100%;
			}
		}
		&__copy{
			display:block;
			position:absolute;
			top:3em;
			left:0;
			@include s.media(m){
				top:6em;
				left:0;
			}
			h2{
				&:nth-child(1){
					font-size:1.1em;
					color:#000;
					@include s.fontType01(Bold);
					text-align:left;
					margin-bottom:0.5em;
					padding:0;
					left:0;
					@include s.media(m){
						font-size:1.875em;
						color:#FFF;
					}
					span{
						display:inline-block;
						position:relative;
						z-index:1;
						&::before{
							content:"";
							width:100%;
							height:0.4em;
							position:absolute;
							bottom:0.1em;
							left:0;
							background:s.$colorType03;
							z-index:-1;
						}
					}
				}
				&:nth-child(2){
					font-size:1.3em;
					@include s.fontType01(Bold);
					text-align:left;
					color:s.$colorType03;
					margin-bottom:0;
					padding:0 0.5em;
					display:inline-block;
					background:#FFF;
					line-height:1.4;
					@include s.media(m){
						font-size:2.5em;
					}
				}
			}
		}
		&__badge{
			width:10em;
			display:block;
			position:absolute;
			top:7em;
			right:0;
			@include s.media(m){
				width:16em;
				top:2em;
				right:2em;
			}
			img{
				width:100%;
			}
		}
		&__point{
			width:100%;
			display:flex;
			justify-content:space-between;
			position:absolute;
			bottom:1.8em;
			left:0;
			margin-bottom:0;
			@include s.media(m){
				height:12.7em;
				gap:1.5em;
				justify-content: normal;
				bottom:3em;
			}
			li{
				width:8em;
				height:8em;
				display:block;
				border-radius:50%;
				position:relaitve;
				background:s.$colorType02;
				padding:0;
				text-align:center;
				color:#FFF;
				font-size:1em;
				@include s.media(m){
					width:12.7em;
					height:12.7em;
				}
				br{
					display:block;
				}
				&::before{
					content:"";
					width:calc(100% - 0.5em);
					height:calc(100% - 0.5em);
					border:#FFF solid 1px;
					position:absolute;
					background:none;
					top:0.25em;
					left:0.25em;
					display:block;
					@include s.media(m){
						width:calc(100% - 1em);
						height:calc(100% - 1em);
						top:0.5em;
						left:0.5em;
					}
				}
				&:nth-child(1){
					padding-top:2em;
					@include s.media(m){
						padding-top:3.5em;
					}
				}
				&:nth-child(2){
					padding-top:2.5em;
					@include s.media(m){
						padding-top:4.5em;
					}
				}
				&:nth-child(3){
					padding-top:2em;
					@include s.media(m){
						padding-top:2.5em;
					}
					span{
						font-size:0.9em;
						@include s.media(m){
							font-size:1.4em;
							line-height:1.4;
						}
					}
				}
				span{
					display:block;
					font-size:1em;
					@include s.fontType01(Bold);
					line-height:1.3;
					@include s.media(m){
						font-size:1.4em;
						line-height:1.4;
					}
					b{
						font-size:2.1em;
					}
				}
			}
		}
		&__person{
			display:block;
			position:absolute;
			right:3em;
			bottom:0;
			@include s.media(m){
				width:100%;
				display:flex;
				justify-content:flex-end;
				right:-1.5em;
				bottom:0;
			}
			figure{
				&:nth-child(1){
					width:12em;
					@include s.media(m){
						width:23em;
						margin-right:-6em;
					}
				}
				&:nth-child(2){
					width:12em;
					position:absolute;
					top:-6em;
					left:-10em;
					@include s.media(m){
						width:13em;;
						position:static;
					}
				}
				img{
					width:100%;
				}
			}
		}
	}
	.sectionTitle{
		color:#000;
		font-size:1.56em;
		@include s.media(m){
			font-size:2.5em;
			margin-bottom:0.8em;
		}
		span{
			display:block;
			color:s.$colorType03;
			font-size:0.9em;
		}
	}
	.adminReasonQuestionBox{
		display:block;
		@include s.media(m){
			margin-bottom:8em;
		}
		&__inner{
			margin-bottom:2em;
			@include s.media(m){
				width:100%;
				display:flex;
				justify-content:center;
				gap:1.5em;
				margin-bottom:5em;
			}

		}
		&__question{
			display:block;
			position:relative;
			margin-bottom:0.5em;
			@include s.media(m){
				background:#FFF;
				padding:2em 0 3em;
				width:30%;
			}
			&::before{
				content:"";
  			width: 2.9em;
  			aspect-ratio: 1;
  			clip-path: polygon(0 0,100% 0,0 100%);
  			background: s.$colorType01;
				position:absolute;
				top:0;
				left:0;
			}
		}
		&__title{
			font-size:1.25em;
			padding:1em 0 1em 2em;
			background:#FFF;
			@include s.media(m){
				font-size:1.3em;
				text-align:center;
				padding:0;
			}
		}
		&__image{
			width:4.5em;
			position:absolute;
			top:0.5em;
			right:3em;
			@include s.media(m){
				width:5.9em;
				position:absolute;
				bottom:-4em;
				right:0;
				top:unset;
			}
			img{
				width:100%;
			}
		}
		&__content{
			@include s.media(m){
				padding:0 2.5em;
			}
			p{
				margin-bottom:0.5em;
				@include s.fontType01(Medium);
				line-height:1.4;
				background:#E7E7E7;
				padding:0.3em 0.5em;
				text-align:center;
				@include s.media(m){
					background:none;
					padding:0;
					text-align:left;
				}
				b{
					color:s.$colorType03;
				}
			}
		}
	}
	.accordion--typeQuestion{
		label{
			display: block;
			cursor :pointer;
			transition: all 0.5s;
			position:relative;
			@include s.media(m){
				position:static;
				cursor :unset;
			}
			&::after{
				content: "\f078";
				font-family: 'icomoon';
				position: absolute;
				top: 50%;
				right: 1.4em;
				margin-top:-0.5em;
				transition: all 0.5s;
				color:s.$colorType03;;
				@include s.media(m){
					content:none;
				}
			}
			&:hover {
			}
		}
		input {
			display: none;
		}
		&__content {
			height: 0;
			overflow: hidden;
			opacity: 0;
			transition: 0.5s;
			@include s.media(m){
				opacity: 1;
				height: auto;
			}
		}
		//クリックで中身表示
		&__check:checked + label + .accordion--typeQuestion__content {
			height: auto;
			opacity: 1;
			margin-bottom:3em;
			@include s.media(m){
				margin-bottom:0;
			}
		}
		&__check:checked + label{
		}
		&__check:checked + label::after{
			transform: rotateZ(180deg);
		}
	}
	.adminReasonSolutionBox{
		display:block;
		position:relative;
		z-index:2;
		padding:3em 0;
		@include s.media(m){
			padding:5em 0 10em;
		}
		&::before{
			content:none;
			display:block;
			width:100vw;
			height:100%;
			background:#FFF;
			position:absolute;
			top:0;
			left:50%;
			margin-left:-50vw;
			z-index:-1;
			@include s.media(m){
				content:"";
				padding:5em 0;
				height:calc(100% - 8em);
			}
		}
		.sectionTitle + p{
			text-align:center;
		}
		&__inner{
			width:100%;
			display:flex;
			justify-content:space-between;
			padding-left:0;
			@include s.media(m){
				margin-bottom:5em;
			}
			li{
				width:8em;
				height:8em;
				background:#FDED65;
				border-radius:50%;
				display:block;
				text-align:center;
				padding:1em 0 0;
				@include s.media(m){
					width:19em;
					height:19em;
					padding:2.5em 0 0;
				}
				&::before{
					content:none;
				}
				figure{
					width:2em;
					display:block;
					margin:0 auto 0.25em;
					@include s.media(m){
						width:5.75em;
						margin:0 auto 0.5em;
					}
					img{
						width:100%;
					}
				}
				p{
					font-size:0.85em;
					@include s.fontType01(Bold);
					line-height:1.4;
					margin:0;
					@include s.media(m){
						font-size:1.56em;
					}
					span{
						color:s.$colorType03;
					}
				}
			}
		}
	}
	.adminReasonContactBox{
		display:block;
		background:url(../img/admin-reason/bgContact_sp.png) no-repeat center top;
		background-size:100% auto;
		border-bottom:#74C12F solid 0.4em;
		padding:4em 2em 1em;
		position:relative;
		@include s.media(m){
			background:url(../img/admin-reason/bgContact.png) no-repeat center top;
			background-size:100% auto;
			border-bottom:#74C12F solid 0.55em;
		}
		&__title{
			font-size:1.25em;
			color:#000;
			@include s.media(m){
				line-height:1.5em;
				font-size:2.5em;
			}
			span{
				display:block;
				font-size:0.8em;
				color:#588C0F;
				@include s.media(m){
					font-size:0.6em;
				}
			}
		}
		&__inner{
			padding:0;
			position:static;
			margin-bottom:0;
			@include s.media(m){
				width:100%;
				display:flex;
				justify-content:center;
				gap:1em;
			}
			li{
				padding:0;
				position:static;
				display:block;
				margin-bottom:1em;
				@include s.media(m){
					background:#FCA603;
				}
				&::before{
					content:none;
				}
				a,span{
					height:100%;
					text-align:center;
					color:#FFF;
					@include s.fontType01(Bold);
					display:block;
					font-size:1.1em;
					position:relative;
					padding:0.5em 2em;
					background:#FCA603;
					@include s.media(m){
						background:none;
						font-size:1em;
					}
					&::before{
						content:"";
						width: 1em;
						aspect-ratio: 1;
						clip-path: polygon(0 0,100% 0,0 100%);
						background: #DDF1C2;
						position:absolute;
						top:-1px;
						left:-1px;
					}
				}
				a:hover{
					background:s.$colorType03;
				}
				&:nth-child(1){
					a,span{
						@include s.fontType02(SemiBold);
						letter-spacing:0.1em;
						font-size:1.2em;
						@include s.media(m){
							width:14em;
						}
					}
				}
				&:nth-child(2){
					figure{
						width:10em;
						margin:0 auto 0.5em;
						@include s.media(m){
							width:17.5em;
							position:absolute;
							top:-2em;
							right:-2em;
							margin:0;
						}
						img{
							width:100%;
						}
					}
				}
			}
			+ p{
				margin-bottom:0;
				text-align:right;
				font-size:0.875em;
				@include s.fontType01(Bold);
			}
		}
	}
	.adminReasonChooseBox{
		position:relative;
		z-index:1;
		margin-bottom:3em;
		@include s.media(m){
			padding-top:7em;
			margin-bottom:5em;
		}
		&::before{
			@include s.media(m){
				content:"";
				display:block;
				width:100vw;
				height:10em;
				background:#FFF;
				position:absolute;
				top:-10em;
				left:50%;
				margin-left:-50vw;
				z-index:-1;
			}
		}
		&__bg{
			width:112%;
			margin-left:-6%;
			@include s.media(m){
				margin-left:0;
				width:52.4em;
				position:absolute;
				top:-10em;
				left:-26.25em;
				z-index:-1;
			}
			img{
				width:100%;
			}
		}
		&__fukidashi{
			display:none;
			@include s.media(m){
				display:block;
				width:13.8em;
				position:absolute;
				top:-5em;
				left:15em;
			}
			img{
				width:100%;
			}
		}
		&__badge{
			display:none;
			@include s.media(m){
				display:block;
				width:13em;
				position:absolute;
				top:-5em;
				right:0;
				transform:rotate(5deg);
			}
			img{
				width:100%;
			}
		}
		.sectionTitle{
			position:relative;
			@include s.media(m){
				margin-bottom:1.5em;
				line-height:1.8em;
			}
			span{
				display:none;
				@include s.media(m){
					display:block;
					font-size:0.625em;
				}
			}
			b{
				color:s.$colorType03;
				@include s.media(m){
					color:#000;
				}
			}
		}
		&__inner{
			position:relative;
			display:block;
			@include s.media(m){
				padding-left:56%;
			}
			&:nth-child(even){
				@include s.media(m){
					padding-right:56%;
					padding-left:0;
				}
				.adminReasonChooseBox__image{
					@include s.media(m){
						position:absolute;
						top:0;
						right:3em;
						left:unset;
					}
				}
			}
		}
		&__title{
			font-size:1em;
			background:#94C530;
			padding:1em;
			color:#FFF;
			text-align:center;
			@include s.media(m){
				color:#000;
				font-size:1.56em;
				text-align:left;
				background:none;
				padding:0;
			}
		}
		&__image{
			margin-bottom:1em;
			@include s.media(m){
				width:26.9em;
				margin-bottom:0;
				position:absolute;
				top:0;
				left:3em;
			}
			img{
				width:100%;
			}
			span{
				display:block;
				position:relative;
				&::before{
					content:"";
					width: 2em;
					aspect-ratio: 1;
					clip-path: polygon(0 0,100% 0,0 100%);
					background: s.$colorType01;
					position:absolute;
					top:-1px;
					left:-1px;
				}
				&::after{
					content:"";
					width: 2em;
					aspect-ratio: 1;
					clip-path: polygon(0 100%,100% 0,100% 100%);
					background: s.$colorType01;
					position:absolute;
					bottom:-1px;
					right:-1px;
				}
			}
		}
		&__sentence{
			@include s.fontType01(Medium);
		}
	}
	.accordion--typeChoose{
		label{
			display: block;
			cursor :pointer;
			transition: all 0.5s;
			position:relative;
			@include s.media(m){
				position:static;
				cursor :unset;
			}
			&::after{
				content: "\f078";
				font-family: 'icomoon';
				position: absolute;
				top: 50%;
				right: 1.4em;
				margin-top:-0.5em;
				transition: all 0.5s;
				color:#FFF;
				@include s.media(m){
					content:none;
				}
			}
			&:hover {
			}
		}
		input {
			display: none;
		}
		&__content {
			height: 0;
			overflow: hidden;
			opacity: 0;
			transition: 0.5s;
			@include s.media(m){
				opacity: 1;
				height: auto;
			}
		}
		//クリックで中身表示
		&__check:checked + label + .accordion--typeChoose__content {
			height: auto;
			opacity: 1;
			margin-bottom:3em;
			@include s.media(m){
				margin-bottom:0;
			}
		}
		&__check:checked + label{
		}
		&__check:checked + label::after{
			transform: rotateZ(180deg);
		}
	}
	.adminReasonVoiceBox{
		&__inner{
			display:block;
			margin-bottom:3em;
			@include s.media(m){
				margin-bottom:6em;
				//width:100%;
				//display:flex;
				//justify-content:space-between;
			}
			a{
				display:block;
				background:#FFF;
				padding:1.5em;
				border-radius:1em;
				opacity:1;
				margin-bottom:1.5em;
				pointer-events:none;
				@include s.media(m){
					//width:31%;
				}
				&:hover{
					opacity:.6;
				}
				figure{
					display:block;
					position:relative;
					margin-bottom:1em;
					&::before{
						content:"";
						width: 2em;
						aspect-ratio: 1;
						clip-path: polygon(0 0,100% 0,0 100%);
						background: #FFF;
						position:absolute;
						top:-1px;
						left:-1px;
					}
					&::after{
						content:"";
						width: 2em;
						aspect-ratio: 1;
						clip-path: polygon(0 100%,100% 0,100% 100%);
						background: #FFF;
						position:absolute;
						bottom:-1px;
						right:-1px;
					}
				}
				img{
					width:100%;
				}
				h4{
					display:block;
					position:relative;
					margin-bottom:0.5em;
					color:#000;
					font-size:1.25em;
					padding:1em;
					@include s.media(m){
						padding:2em 1em;
					}
					&::before{
						content:"";
						width:1em;
						height:1em;
						background:url(../img/admin-reason/imgTitle.png) no-repeat center top;
						background-size:100% auto;
						position:absolute;
						top:0;
						left:0;
					}
					&::after{
						content:"";
						width:1em;
						height:1em;
						background:url(../img/admin-reason/imgTitle.png) no-repeat center top;
						background-size:100% auto;
						position:absolute;
						bottom:0;
						right:0;
						 transform: scale(-1, -1);
					}
				}
				p{
					margin-bottom:0;
				}
			}
			.swiper-button-prev,.swiper-button-next{
				width: 3em;
    			height: 3em;
				&::before{
					background-color:#779923;
				}
			}
			.swiper-button-prev{
				margin-left: -2.5em;
			}
		}
	}
	.adminReasonFlowBox{
		display:block;
		position:relative;
		z-index:1;
		padding-top:0;
		margin-bottom:0;
		@include s.media(m){
			padding-top:8em;
		}
		&::before{
			@include s.media(m){
				content:"";
				width:100vw;
				height:100%;
				background:url(../img/admin-reason/bgFlow.png) no-repeat center bottom;
				background-size:120em auto;
				background-color:#FFF;
				position:absolute;
				top:0;
				left:50%;
				margin-left:-50vw;
				display:block;
				z-index:-1;
			}
		}
		&__inner{
			width:100%;
			display:flex;
			flex-wrap:wrap;
			padding-bottom:4em;
			justify-content:center;
			gap:1.5em;
			@include s.media(m){
				gap:3em;
				padding-bottom:6em;
			}
		}
		&__flow{
			width:45%;
			position:relative;
			background:#74C12F;
			text-align:center;
			padding:2em 1em;
			@include s.media(m){
				width:12.9em;
			}
			&::before{
				content:"";
				width: 4em;
				aspect-ratio: 1;
				clip-path: polygon(0 0,100% 0,0 100%);
				background: s.$colorType04;
				position:absolute;
				top:0;
				left:0;
			}
			&+ .adminReasonFlowBox__flow{
				&::after{
					@include s.media(m){
						content: "\f054";
						font-family: 'icomoon';
						font-size:2em;
						color:s.$colorType04;
						position:absolute;
						top:50%;
						left:-1em;
						margin-top:-0.5em;
					}
				}
			}
			p{
				&:nth-child(1){
					font-size:1.875em;
					@include s.fontType02(SemiBold);
					color:#FFF;
					position:absolute;
					top:0.2em;
					left:0.3em;
					padding:0;
					line-height:1;
				}
				&:nth-child(3){
					margin-bottom:0;
					line-height:1.4;
					font-size:1em;
					@include s.fontType01(Bold);
					color:#FFF;
				}
			}
			figure{
				width:4.2em;
				margin:0 auto 1em;
				@include s.media(m){
					width:5.8em;
				}
				img{
					width:100%;
				}
			}
		}
	}
	.adminReasonServiceBox{
		display:block;
		position:relative;
		z-index:1;
		padding-top:2em;
		margin-bottom:0;
		@include s.media(m){
			padding-top:5em;
			margin-bottom:4em;
		}
		&::before{
			@include s.media(m){
				content:"";
				width:100vw;
				height:100%;
				background:url(../img/admin-reason/bgService.png) no-repeat center top;
				background-size:120em auto;
				background-color:s.$colorType01;
				position:absolute;
				top:0;
				left:50%;
				margin-left:-50vw;
				display:block;
				z-index:-1;
			}
		}
		&__lead{
			text-align:center;
		}
		&__inner{
			display:block;
		}
		&__title{
			color:#000;
			font-size:1.1em;
			position:relative;
			padding-left:3em;
			border-bottom:s.$colorType04 solid 0.3em;
			margin-bottom:1em;
			@include s.media(m){
				font-size:1.8em;
				padding-left:2.5em;
				margin-bottom:0;
			}
			&::before{
				content:none;
			}
			&::after{
				content:"";
				width:100%;
				height:0.3em;
				background:#74C100;
				position:absolute;
				bottom:-0.58em;
				left:0;
				display:block;
			}
			figure{
				width:1.9em;
				position:absolute;
				top:0;
				left:0.5em;
				@include s.media(m){
					width:1.7em;
				}
				img{
					width:100%;
				}
			}
			span{
				font-size:0.6em;
				position:absolute;
				bottom:0.7em;
				right:4em;
				display:inline-block;
				line-height:1.4;
				@include s.media(m){
					display:none;
				}
			}
		}
		&__lead{
			margin-bottom:3em;
		}
		&__service{
			width:100%;
			display:flex;
			flex-wrap:wrap;
			justify-content:space-between;
			margin-bottom:1.5em;
			@include s.media(m){
				margin-bottom:1.5em;
			}
			&.--type01{
				dl{
					width:49%;
					@include s.media(m){
						width:32%;
					}
				}
				dt{
					color:#FCA603;
				}
			}
			&.--type02{
				dt{
					color:#74C12F;
				}
			}
			&.--type03{
				dt{
					color:#209131;
				}
			}
			dl{
				background:#FFF;
				width:49%;
				margin-bottom:0.5em;
				text-align:center;
				padding:1.5em 0;
				@include s.media(m){
					margin-bottom:1.5em;
					padding:3em 0;
				}
				dt{
					color:#209131;
					font-size:1.1em;
					@include s.fontType01(Bold);
					margin-bottom:0.5em;
					@include s.media(m){
						font-size:1.875em;
					}
				}
				dd{
					@include s.fontType01(Medium);
					padding:0 1em;
					text-align:left;
					font-size:0.9em;
					margin-left: 0;
					@include s.media(m){
						text-align:center;
						font-size:1em;
					}
				}
			}
		}
	}
	.accordion--typeService{
		label{
			display: block;
			cursor :pointer;
			transition: all 0.5s;
			position:relative;
			@include s.media(m){
				cursor :auto;
			}
			&:hover {
			}
		}
		&__icon {
			width:1em;
			height:2px;
			display: block;
			position:absolute;
			right:0.5em;
			top:50%;
			margin-top:-0.5em;
			font-size:0.8em;
			@include s.media(m){
				right:2em;
				font-size:1em;
			}
			&::before{
				content:"";
				width:2em;
				height:2em;
				background:#209131;
				display:block;
				position:absolute;
				right:-0.6em;
				top:-0.9em;
				@include s.media(m){
					right:-0.5em;
					top:-1em;
				}
			}
			div{
				background: #FFF;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				transition: 0.4s ease;
				&:last-child{
					transform: rotate(90deg);
				}
			}
		}
		input {
			display: none;
		}
		&__content {
			height: 0;
			padding: 0;
			overflow: hidden;
			opacity: 0;
			transition: 0.5s;
			@include s.media(m){
				height: auto;
				opacity:1;
			}
		}
		//クリックで中身表示
		&__check:checked + label + .accordion--typeService__content {
			height: auto;
			opacity: 1;
			@include s.media(m){
			}
		}
		&__check:checked + label{
			&:hover{
			}
		}
		&__check:checked + label .accordion--typeService__icon div:last-child{
			transform: none;
			@include s.media(m){
				transform: rotate(90deg);
			}
		}
	}
	.adminReasonMovieBox{
		display:block;
		margin-bottom:2em;
		@include s.media(m){
			width:100%;
			display:flex;
		}
		&__inner{
			display:block;
			margin-bottom:1em;
			padding:0 0.5px;
			@include s.media(m){
				width:50%;
			}
		}
	}
}
.postid-20451 #wrapper #container,
.postid-21432 #wrapper #container,
#container #wpwrap{
	.adminReasonMovieBox__inner .youtubeBox{
		padding-top: 0;
	}
}

.admin-template-admin-reason #wrapper{
	#content{
		padding-top: 4em;
		@include s.media(m){
			padding-top: 6em;
		}
	}
}




